body {
  width: 550px;
  font: 82%/1.5em "Helvetica Neue", Arial, sans-serif;
  color: #151515;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}
h1 {
  height: 18px;
  margin: 0;
  font: 200 16px "Helvetica Neue", Calibri, Arial, sans-serif;
  background-color: #F6F6F6;
  padding: 12px;
  border-bottom: 1px solid #EEE;
}
.contents {
  padding: 10px;
}
.label {
  white-space: nowrap;
  width: 8em;
}
.buttons {
  height: 32px;
  padding-top: 10px;
  border-top: 1px dotted #CCC;
}
.parameters {
  padding-bottom: 10px;
  width: 100%;
  border-spacing: 5px 1px;
}
.parameters input[type="text"],
.parameters select {
  width: 100%;
}
.error {
  margin-top: 0;
  display: none;
  color: #ed2c10;
  width: 100%;
}
.expand {
  border-bottom: 1px dotted #000;
  text-decoration: none;
  cursor: pointer;
}
.property-description {
  color: #888;
  font-size: 90%;
}
.property-name {
  vertical-align: top;
  padding-left: 10px;
}
.teamcity-property-row td {
  border-bottom: 1px dotted #CCC;
}
